<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"> 
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- google fonts -->
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet"> 
<!-- boot strap    -->
<script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<!-- style sheet     -->
<link rel = stylesheet href = "spellme.css">
    <!-- j query -->
<script src="https://code.jquery.com/jquery-3.6.0.slim.js"
  integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
  crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>spell me page</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg" style= "background-color: #78b0f0;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                    Bootstrap
                  </a>
              <div class="collapse navbar-collapse d-flex flex-column align-items-end" id="navbarNav">
                <ul class="navbar-nav ">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Parent</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <div class="container ">
  <div class="row  my-5 "  >
    <div class="col al ">
     <img class = "" src = "../../../spellmeApp/assets/al.png" height = "100px" width = "100px;">
    </div>
 
    <div class="col-6 img1 border border-5 border-dark">
      <img src = "../../../spellmeApp/assets/apple.jpg" height = "300px" width = "300px;">
    </div>
    <div class="col ar ">
      <img  class =" " src = "../../../spellmeApp/assets/ar.png"  height = "100px" width = "100px;">
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col-6 displayW">
    <p id = "spellWord">Apple</p>
    </div>
    <!-- <div class="col-2">
     
      <img id="icon1" src = "../../../spellmeApp/assets/mp.png" width = "70px" height = "70px">
     </div>
     <div class="col-2">
      
       <img id="icon2" src = "../../../spellmeApp/assets/aid.png" width = "60px" height = "60px"></div> -->
    <div class = "col ">
      <img class = "icon1" id="icon1" src = "../../../spellmeApp/assets/aid.png" width = "50px" height = "50px">
      <img class = "icon2" id="icon1" src = "../../../spellmeApp/assets/mp.png" width = "50px" height = "50px">
    </div>
  </div>
  <div class= "imgbg">
  <div class="row ">
    <div class="col-3 ">
      1 of 3
    </div>
    <div class="col-6  ">
      <div class="form-floating mb-3  textbox1">
        <input type="text" class=" form-control-sm wordIn" id="floatingInput" placeholder="word">
        <label for="floatingInput"></label>
      </div>
    </div>
    <div class="col-3">
      1 of 3
    </div>
  
   </div>
   
  </div>
</div>
    </div>
    
     
</body>
</html>