  <!-- <div style="width:100%;height:0;padding-bottom:67%;position:relative;"><iframe src="https://giphy.com/embed/dZud6SnnbR3B9JlYby" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/Eko-and-Miya-thumbs-up-eko-and-miya-dZud6SnnbR3B9JlYby">Correct</a></p>            </div>   -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--favicon -->
   <link rel="icon" href="/speechtotext/assets/logo.jpg" type="image/jpg" height = "16px" width = "16px">
    <link rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"> 
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- google fonts -->
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet"> 
<!-- boot strap    -->
<script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<!-- style sheet     -->
<link rel = stylesheet href = "main.css">
    <!-- j query -->
<script src="https://code.jquery.com/jquery-3.6.0.slim.js"
  integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
  crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src = 'main.js'></script> 

   </style>
</head>
<body>
    <audio id="audio">
        <source src="../../../assets/mouseclick.mp3" type="audio/mp3"></source>
    </audio>
    <div class="container">
    
        <nav class="navbar navbar-expand-lg footer1" style= "background-color: #f0bfdf;">
            <div class="container-fluid">
                <a class="navbar-brand" href="../main/index.html">
                    <img src="/speechtotext/assets/logo.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                    Spell Me
                  </a>
              <div class="collapse navbar-collapse d-flex flex-column align-items-end" id="navbarNav">
                <ul class="navbar-nav ">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../parents/login.html">Parent</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../register/register.html">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href = "../wordList/wordList.html " >Word List</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        
      
      <div class="container ">
        <div class="row main1">
            
            <div class="col-3" style= "background-color: #f8ecb3;">
                <div >
                <div class="container user_name ">
                   <div class = nmeList > 
                        <p class= "user_name_label">Learner</p> 
                        <div class = "usernme">
                <a href = ""><p>amy </p></a>
            </div>
            </div>
              <div class = "note">
                <img  src = "../../../assets/note1.jpg" width="250em" height="370px">
               
            <img src="../../../assets/pencil1.png" id = "img1" height="200px">
            </div>
          </div>
        </div>
        </div>
            <div class="col-9" style= "background-color: #1ca823;">
                <h1 class="title">Grow. Explore. Discover </h1>

           <a href = "../spellme/spellme.html"><img src = "../../../assets/abcblock.jpg" id= "img2" height = "300em"></a>
           <div class = "jqueryelm">
          <a> <img src = "../../../assets/arrow.png" id = "jqueryimg1" height = "100px" width = "100px" >  </a> 
</div>
</div>
        </div>
            
      </div>
    

      <div class = "footer1">
        <nav class="navbar navbar-expand-lg" style= "background-color: #f0bfdf;">
          <div class="container-fluid">
            <p>Spell Me</p>
              <p>@Copyright : Christine Brown </p>
              <span>Created 2022</span>
            
          </div>
        </nav>
   
</div>
</div>
<script>
  $(document).ready(function(){
      setInterval(() => {
          var div = $("#jqueryimg1");
    div.animate({top: '10px', opacity: '0.9'}, "slow");
    div.animate({bottom: '20px', opacity: '0.8'}, "slow");
    div.animate({top: '25px', opacity: '0.6'}, "slow");
    div.animate({bottom: '15px', opacity: '0.8'}, "slow");
    div.animate({top: '10px', opacity: '0.6'}, "slow");
    div.animate({bottom: '30px', opacity: '0.8'}, "slow"); 
    div.animate({top: '15px'}, "slow"); 

      }, 2000);
   

});
 
</script>
<script type="text/javascript">
    $(document).ready(function(){
        var audio = $("#audio")[0];
$("a").click(function() {
  audio.play();
});
    });
    </script>
    


      
</body>
</html>