.displayW{
    text-align: center;
}
.img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding:20px;
}
.container1{ 
    background: rgb(15,81,202);
    background: linear-gradient(90deg, rgba(15,81,202,1) 0%, rgba(75,124,214,1) 29%, rgba(242,239,239,1) 100%);
}